<div class="home">
  <app-header></app-header>
  <br><br>
  <app-footer></app-footer>
  <br><br>
  <app-checkbox></app-checkbox>
  <br><br>
  <button class="button button--primary">Login</button>
  <br><br>
  <select class="select select--green">
    <option value="0">Casual</option>
    <option value="1">Active wear</option>
    <option value="2">Other</option>
  </select>
  <br><br>
  <app-radio-button-group></app-radio-button-group>
  <br><br>
  <app-slider></app-slider>
  <br><br>
  <div class="tIContainer">
    <label for="user-name" class="tIContainer__label">Enter your name:</label>
    <input type="text" id="user-name" placeholder="Name" class="tIContainer__textInput" required/>
  </div>
  <div class="tIContainer">
    <label for="user-name" class="tIContainer__label">Enter your password:</label>
    <input type="password" id="user-password" placeholder="Password" class="tIContainer__textInput"/>
  </div>
</div>
