<div class="loginModal">
  <div class="loginModal__header">Login to "Demo Shop"</div>
  <div class="loginModal__body">
    <div class="tIContainer loginModal_tIContainer">
      <label for="login" class="tIContainer__label">Your login:</label>
      <input type="text" id="login" class="tIContainer__textInput"/>
    </div>
    <div class="tIContainer loginModal_tIContainer">
      <label for="password" class="tIContainer__label">Your password:</label>
      <input type="password" id="password" class="tIContainer__textInput"/>
    </div>
    <div class="loginModal__buttonContainer">
      <button class="loginModal__button button button--primary button--big">Login</button>
    </div>
  </div>
</div>
