.button {
  display: inline-block;
  height: 35px;
  min-width: 120px;
  border-width: 0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background: linear-gradient(180deg, #B1B1B1 0%, #777777 100%);

  &:active, &:focus{
    outline: none;
  }

  &:active{
    &:enabled{
      background: linear-gradient(0deg, #B1B1B1 0%, #777777 100%);
      box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
  }

  &:disabled{
    opacity: 0.5;
  }

  &--primary{
    background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
    &:active {
      &:enabled {
        background: linear-gradient(0deg, #2BBCC2 100%, #1B745F 0%);
        box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }

  &--big{
    height: 50px;
    min-width: 170px;
    font-size: 18px;
    font-weight: bold;
  }
}
